@model ForecastModel
@{
    ViewData["Title"] = "Daily Surge Comparison";
}

@{
    string xValues = JsonConvert.SerializeObject(Model.MildForecast.DayCalculations.Select(x => x.Number).ToList());

    string nonICUCapcity = JsonConvert.SerializeObject(Enumerable.Repeat(Model.Inputs.NonICUBeds.AvailableBeds, Model.MildForecast.DayCalculations.Count).ToList());
    string mildNonICUADC = JsonConvert.SerializeObject(Model.MildForecast.DayCalculations.Select(x => (int)x.UserOrgNonICUADC).ToList());
    string moderateNonICUADC = JsonConvert.SerializeObject(Model.ModerateForecast.DayCalculations.Select(x => (int)x.UserOrgNonICUADC).ToList());
    string aggressive80NonICUADC = JsonConvert.SerializeObject(Model.Aggressive80Forecast.DayCalculations.Select(x => (int)x.UserOrgNonICUADC).ToList());
    string aggressive90NonICUADC = JsonConvert.SerializeObject(Model.Aggressive90Forecast.DayCalculations.Select(x => (int)x.UserOrgNonICUADC).ToList());

    string icuCapcity = JsonConvert.SerializeObject(Enumerable.Repeat(Model.Inputs.ICUBeds.AvailableBeds, Model.MildForecast.DayCalculations.Count).ToList());
    string mildICUADC = JsonConvert.SerializeObject(Model.MildForecast.DayCalculations.Select(x => (int)x.UserOrgICUADC).ToList());
    string moderateICUADC = JsonConvert.SerializeObject(Model.ModerateForecast.DayCalculations.Select(x => (int)x.UserOrgICUADC).ToList());
    string aggressive80ICUADC = JsonConvert.SerializeObject(Model.Aggressive80Forecast.DayCalculations.Select(x => (int)x.UserOrgICUADC).ToList());
    string aggressive90ICUADC = JsonConvert.SerializeObject(Model.Aggressive90Forecast.DayCalculations.Select(x => (int)x.UserOrgICUADC).ToList());
}

@using (Html.BeginForm())
{
    <div style="height:500px">
        <div style="width: 49%; height: 700px; float: left">
            <canvas id="nonICUChart" style="width:49%; height:500px;"></canvas>
        </div>
        <div style="width: 49%; height: 700px; float: left;">
            <canvas id="icuChart" style="width:49%; height:500px;"></canvas>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        function buildNonICUChart() {
            var chartName = "nonICUChart";
            var canvas = document.getElementById(chartName).getContext('2d');
            var data = {
                labels: @Html.Raw(xValues),
                datasets: [
                    {
                        label: "Sample Mitigation ADC",
                        data: @Html.Raw(mildNonICUADC),
                        fill: false
                    },
                    {
                        label: "Moderate Social Distancing ADC",
                        data: @Html.Raw(moderateNonICUADC),
                        fill: false
                    },
                    {
                        label: "Mild Social Distancing ADC",
                        data: @Html.Raw(aggressive80NonICUADC),
                        fill: false
                    },
                    {
                        label: "Early Pandemic ADC",
                        data: @Html.Raw(aggressive90NonICUADC),
                        fill: false
                    },
                    {
                        label: "Non-ICU Capacity",
                        data: @Html.Raw(nonICUCapcity),
                        fill: false
                    }
                ]
            };
            var options = {
                title: {
                    display: true,
                    text: "Non-ICU Surge Comparison"
                },
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Day Number"
                        },
                        ticks: {
                            min: 1,
                            beginAtZero: false
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
                plugins: {
                    colorschemes: {
                        scheme: "brewer.SetTwo8"
                    }
                }
            };

            var chart = new Chart(canvas, {
                options: options,
                data: data,
                type: 'line'
            });
        };

        function buildICUChart() {
            var chartName = "icuChart";
            var canvas = document.getElementById(chartName).getContext('2d');
            var data = {
                labels: @Html.Raw(xValues),
                datasets: [
                    {
                        label: "Sample Mitigation ADC",
                        data: @Html.Raw(mildICUADC),
                        fill: false
                    },
                    {
                        label: "Moderate Social Distancing ADC",
                        data: @Html.Raw(moderateICUADC),
                        fill: false
                    },
                    {
                        label: "Mild Social Distancing ADC",
                        data: @Html.Raw(aggressive80ICUADC),
                        fill: false
                    },
                    {
                        label: "Early Pandemic ADC",
                        data: @Html.Raw(aggressive90ICUADC),
                        fill: false
                    },
                    {
                        label: "ICU Capacity",
                        data: @Html.Raw(icuCapcity),
                        fill: false
                    }
                ]
            };
            var options = {
                title: {
                    display: true,
                    text: "ICU Surge Comparison"
                },
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Week Number"
                        },
                        ticks: {
                            min: 1,
                            beginAtZero: false
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
                plugins: {
                    colorschemes: {
                        scheme: "brewer.SetTwo8"
                    }
                }
            };

            var chart = new Chart(canvas, {
                options: options,
                data: data,
                type: 'line'
            });
        };

        buildNonICUChart();
        buildICUChart();
    </script>
}